[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ultralytics = "*"
opencv-python = "*"
numpy = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
lap = "*"

[dev-packages]

[requires]
python_version = "3.10"
