[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ultralytics = "*"
opencv-python = "*"
numpy = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
lap = "*"
pyqt6 = "*"

[dev-packages]

[scripts]
start = "python webCam_recorder.py"
start2 = "python test.py"
start3 = "python file_marge_app.py"

[requires]
python_version = "3.10"
